<div id="text_data" style="display:none" class="col-md-4">
 <div class="form-group">
  <label>Raw Text Search</label>
  <select class="form-control">
    <option>Contains</option>
    <option>Equals</option>
    <option>Regex</option>
    </select>
  <select class="form-control">
    <option>and</option>
    <option>or</option>
  </select>
  <span class="input-group-addon" id="sizing-addon2"></span>
  <input type="text" class="form-control" placeholder="String Case Insensitive">
</div>
</div>

<div id="date_data" style="display:none" class="col-md-4">
        <div class="form-group">
   <label>Date Filter</label>
    <select class="form-control">
    <option>=</option>
    <option>&gt;</option>
    <option>&lt;</option>
    <option>≥</option>
    <option>≤</option>
    </select>
  <span class="input-group-addon" id="sizing-addon2"></span>
  <input type="date" class="form-control" placeholder="Date">
</div>
</div>

<div id="numeric_data" style="display:none" class="col-md-4">
    <div class="form-group">
<label>Number</label>

<select class="form-control">
    <option>=</option>
    <option>&gt;</option>
    <option>&lt;</option>
    <option>≥</option>
    <option>≤</option>
    </select>
<span class="input-group-addon" id="sizing-addon2"></span>
<input type="number" class="form-control" name="quantity">
</div>
</div>

